@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
html{
  background: #000;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  
  background: #0a0a0a00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #fddf0050;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fddf00bb;
}
::selection{
  background-color: #fddf0052;
  color: #0a0a0a;
}
.outfit{
  font-family: "Outfit", sans-serif !important;
}
.amsterdam{
  font-family: "New Amsterdam", sans-serif !important;
}


body{
  overflow-x: hidden !important;
  padding: 0px !important;
  margin: 0px !important;
  scroll-behavior: smooth !important;
}

.navbar {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 50;
  font-family: "New Amsterdam", sans-serif;
}

.navbar-hidden {
  opacity: 0;
  transform: translateY(-100%); 
}

.navbar-visible {
  opacity: 1;
  transform: translateY(0); 
}


body{
  background: url('./assets/bg-mesh-3.png'), url('./assets/geo-waves.png'),linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))  ;
  background-repeat: no-repeat;
  background-size: cover,cover,cover;
  background-blend-mode:  overlay,overlay;
  background-attachment: fixed,fixed,fixed;
}

.contact-spinner text {
  fill: white !important;
  letter-spacing: 0.8px;
  font-size: 1rem;
}

.spinner-arrow {
  z-index: 200;
  transition: transform 0.5s ease; /* Ensure smooth transition */
}

.spinner-arrow:hover {
  transform: rotate(135deg); /* Use transform instead of rotate */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 7s linear infinite;
}

